/sources2.md
/.~lock.presentation.pptx#
/images.md~
/index.html~
/sources.md~
/remark.py~
/#images.md#
/.#images.md
/text0.md~
/text19.md~
/text21.md~
/text24.md~
/text32.md~
/text35.md~
/text36.md~
/text44.md~
