#urllib
#urllib2
#urlparse

PyOrgMode
SPARQLWrapper
argparse
#avro.datafile
avro
#avro.io
#avro.schema
#bz2
#csv
#duckduckgo ?python2
#fileinput
filelock
requests
#http
#httplib
#json
#logging
lxml
#multiprocessing 
nltk
path.py
pymongo
rdflib

setuptools
#shelve
six
#subprocess
#YaCyQuery
