Package: python-open-everything-library
Version: 0.0.2
Architecture: all
Maintainer: James Michel DuPont <jamesmikedupont@gmail.com>
Installed-Size: 42
Section: python
Priority: optional
Description: python-server-setup
 Wikipedia categories are mis used for many things. The category on some abstract topic will then contain people related to it, services implementing it etc. I want to clean up this in wikidata and use clear relationships between the categories.
 .
 Focused on free software I want to make sure all the categories are in wikidata with the right relationships.
 Pages in the categories will be added as well.
 data/allcats.txt contains the categories I am processing, and data/ignore.txt is the exclusion list.
